/*
.button {
    -fx-background-color:  rgb(247, 13, 26);
    -fx-background-radius: 0em;
}

.button:hover {
    -fx-background-color: rgb(228, 34, 23);
}

.button:pressed {
    -fx-background-color: #B21807;
}

.button:focused {
    -fx-background-color: #be0f0f;
    -fx-border-color: rgb(0,0,0);
    -fx-border-width: 0px, 0px, 0px, 3px;
}

 */

.button {

    //-fx-effect: dropshadow(three-pass-box, rgb(0,0,0,0.8), 10, 0, 0, 0);
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;
    -fx-background-color: white;
}
.button:hover {
    //-fx-background-color: #ff4843;
    -fx-background-color: lightgrey;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;

}
.button:pressed {
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;



}
/*
.button:focused {
    -fx-border-width: 0px, 0px, 0px, 3px;
    -fx-border-color: grey;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-border-width: 1px;



}
 */