

.button {
    -fx-border-color: white;
    -fx-background-color: white;
}
.button:hover {
//-fx-background-color: #ff4843;
    -fx-background-color: lightgrey;
    -fx-border-color: grey;
    -fx-border-width: 1px;

}
.button:pressed {
    -fx-background-color: grey;
    -fx-border-color: grey;
    -fx-border-width: 1px;

}
